
$font-text: 'Roboto';
$font-titre: 'Shrikhand';
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


/****** General ***********/


* {
	font-family: $font-text;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-titre;
    font-size: 28px;
    font-weight: 400;
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: black;
}




/****** Header ********/


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        width: 17px;
        height: 17px;
        position: absolute;
        left: 20px;
    }
    &__logo{
            width: 100%;
            height: 32px;
            margin-top: 25px;
            margin-bottom: 12px;  

    }
 }





.logo-container{
    padding: 20px 10px 10px 0px;
}

.logo{
    width: 61.09px;
    height: 19px;
    padding: 10px 15px 10px 0px;
    gap: 10px;
}


      
.header1{
    margin-top: -10px;
}

.lien-nav {
    padding: 7px;
}

.lien-nav a{
    margin-left: 68px;
    font-size: 16px;
}



/****** Image Menu ********/



.image__menu img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}



/****** Menus ********/

.menu{
    position: relative;
    bottom: 50px;
    background-color: #F6F6F6;
    padding: 2px 15px 40px 15px;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 0px;
    h1 i{
        margin-left: 30px;
    }
    &__content{
        padding: 1px 17px 1px 17px;
        border-radius: 20px;
        background-color:#F6F6F6;
        box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.2);
        margin-bottom: 25px; 
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
    }
    &__price{
        margin-bottom: 17px;
        font-weight: 700;

    }

    &__title{
        margin-top: 30px;
        margin-left: 5px;
    }
    &__subtitle{
        margin-top: 5px;
    }

    h2{
        margin-top: 50px;
        margin-bottom: 3px;
    }
    .underline{
        display:block;
        background-color: #99E2D0 ;
        width: 12%;
        height: 3px;
        margin-bottom: 16px;
    }
}





.button{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 40px;

&__commander{
    color: white;
    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 15px 45px;
    width: 25%;
}
}






/****** Footer ********/




.footer{
    background-color: #353535;
    padding: 15px 20px 15px 30px;
    color: white;
    margin-top: 0px;

    &__title{

        font-family: $font-titre;
        font-size: 18px;
        padding: 11px 0px 18px 0px;
      }    
    ul{
            list-style-type: none;
            margin: 0px;
            margin-bottom: 0px;
            padding: 0px;
        li{
            margin-bottom: 10px;

        
    a {
        color: white;            
    }

    i{
        padding-right: 10px;
        width: 20px;
    }
}
    
}


}


