


// ctrl shift p reindent : ajouter raccourci 



$font-text: 'Roboto';
$font-titre: 'Roboto';
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


/****** General ***********/


* {
	font-family: $font-text;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-titre;
    font-size: 24px;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: black;
}



/****** Header ********/


.navbar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:space-between; 
        .navbar__logo{
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 3;
        .logo{
            height: 27px;
            margin-top: 18px;
            margin-bottom: 7px;

        }
    }
}


.navbar__location{
    background-color:#EAEAEA;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    .navbar__ville{
        font-size: 16px;
        font-weight:bold;
        i{
            margin-right: 15px;
        }
    }
}


/****** Presentation ********/


.presentation{
    background-color: #F6F6F6;
    padding: 25px 35px 60px 35px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 30px;
    
    &__title{
        margin: 15px;
        font-weight: 900;
        
        &__text{
            font-size: 18px;
            margin-bottom: 50px;
        }  
    } 
    &__button{
        color: white;
        background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
        border-radius: 50px;
        padding: 15px 20px;
        width: 100%;
        font-weight: bold;
    }
    
}



/****** Fonctionnement ********/


.fonctionnement{
    margin-top: 20px;
    padding: 2px 15px;
    &__title{
        margin-bottom: 30px;
    }
    &__button{
        display: flex; 
        align-items: center; 
        height: 70px;
        margin: 7px;
        border-radius: 20px;
        font-weight: bold;
        background-color:#F6F6F6;
        box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.2);
        margin-bottom: 25px; 
        margin-left: 15px;
        position: relative;
    }
    &__button i{
        margin-right: 35px;
        margin-left: 35px;
    }
    &__button1 i ,&__button2  i{
        color: #7e7e7e;
    }
    &__button3 i{
        color: #9356DC;

   
    }
    &__pastille {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        left: -10px;
}
}


/****** Restaurants ********/


.restaurants{
    margin-top: 45px;
    padding-bottom: 80px;
    padding: 25px 15px 60px 15px;
    background-color: #F6F6F6;
&__title{
font-weight: bold;
}
&__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

&__card{
    background-color: white;
    border-radius: 20px;
}

&__card:hover{
      box-shadow: 0px 0px 17px rgb(201, 201, 201);  
}

&__card img{

    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
    object-fit: cover;
}


.card__content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;


.card__title {
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
}

.card__subtitle {
    margin: 7px 0px;
    margin-bottom: 15px;
    font-size: 17px;
}

.card__like{
    margin-right: 20px;
}

}





}















































/****** Footer ********/




.footer{

    background-color: #353535;
    padding: 10px 20px 15px 30px;
    color: white;

.footer__logo{


    width: 100%;
    .logo{
        color: white;
        height: 20px;
        margin-top: 18px;
        margin-bottom: 7px;
      }
    }      

    img{
        color: white;
    }
    ul{

            list-style-type: none;
            margin: 0px;
            margin-bottom: 0px;
            padding: 0px;
        li{
            margin-bottom: 10px;

        
    a {
        color: white;            

        // i{
        //     background-color: #9356DC;
        //     width: 8px;
        //     height: 8px;
        // }
    }

    i{
        padding-right: 10px;
    }
}
    
}


}


