
$font-text: 'Roboto';
$font-titre: 'Roboto';
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


/****** General ***********/


* {
	font-family: $font-text;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-titre;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-family: $font-titre;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}



/****** Header ********/


.navbar {
    display: flex;
    flex-direction: row; 
    align-items: center;
        &__logo{
        display: flex;
        justify-content: center; 
        width: 100%;
        .logo{
            width: 100%;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 7px;
}
        &__back{
            margin: 0px 0px 0px 20px;
            background-color: #FF79DA;
        
        }
    }
}



.logo-container{
    padding: 20px 10px 10px 0px;
}

.logo{
    width: 61.09px;
    height: 19px;
    padding: 10px 15px 10px 0px;
    gap: 10px;
}


      
.header1{
    margin-top: -10px;
}

.lien-nav {
    padding: 7px;
}

.lien-nav a{
    margin-left: 68px;
    font-size: 16px;
}



/****** Image Menu ********/



.image__menu img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}



/****** Menus ********/

.menu{
    background-color: #F6F6F6;
    margin-bottom: 50px;
    padding: 2px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
    // &__title{
    //     margin-bottom: 0px;
    
    &__content{
        padding: 1px 17px 1px 17px;
        border-radius: 20px;
        font-weight: bold;
        background-color:#F6F6F6;
        box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.2);
        margin-bottom: 25px; 
    }
}







.button__commander{
    color: white;
    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 15px 45px;
    font-weight: bold;
}







/****** Footer ********/




.footer{

    background-color: #353535;
    padding: 10px 20px 15px 30px;
    color: white;

.footer__logo{


    width: 100%;
    .logo{
        color: white;
        height: 20px;
        margin-top: 18px;
        margin-bottom: 7px;
      }
    }      

    img{
        color: white;
    }
    ul{

            list-style-type: none;
            margin: 0px;
            margin-bottom: 0px;
            padding: 0px;
        li{
            margin-bottom: 10px;

        
    a {
        color: white;            

        // i{
        //     background-color: #9356DC;
        //     width: 8px;
        //     height: 8px;
        // }
    }

    i{
        padding-right: 10px;
    }
}
    
}


}


