
$font-text: 'Roboto';
$font-titre: 'Shrikhand';


/****** General ***********/
* {
	font-family: $font-text;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: $font-titre;
    font-size: 28px;
    font-weight: 400;
}
h2 {
    font-size: 16px;
    font-weight: 300;
}
h3 {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: black;
}


/****** Header ********/
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        width: 17px;
        height: 17px;
        position: absolute;
        left: 20px;
    }
    &__logo{
            width: 100%;
            height: 30px;
            margin-top: 20px;
            margin-bottom: 10px;  
    }
 }


/****** Image Menu ********/
.image__menu img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/****** Menus ********/
.menu{
    position: relative;
    bottom: 45px;
    background-color: #F6F6F6;
    padding: 2px 15px 40px 15px;
    border-radius: 40px 40px 0px 0px;
    &__title_top{
        padding-right: 0px;
        margin-right: 0px;
    }
    .card__like{
        margin-left: 0px;
        position: relative;
        .card__like1{
            display: inline;
            margin-right: 20px;
            font-weight: bold;
            opacity: 1;
            background: linear-gradient(to bottom, #9356DC 10%, #FF79DA 80%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -2;
        }
        .card__like2 {
            margin-left: -10px;
            position: relative;
            left: 31px;
            z-index: 2;
            width: 24px;
            height: 24px;                
            transition: opacity 0.3s ease;
            background-color: #F6F6F6;
            &::before,&::after{
                background-color:  #F6F6F6;
            }
        }

        .card__like2:hover {
            opacity: 0;
        }
    }
    h2{
        margin-top: 50px;
        margin-bottom: 3px;
    }
    .underline{
        display:block;
        background-color: #99E2D0 ;
        width: 40px;
        height: 3px;
        margin-bottom: 35px;
    }
    &__content{
        border-radius: 20px;
        background-color:#ffffff;
        box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.2);
        margin-bottom: 25px; 
        display: flex;
        align-items:center;
        &:hover .check__button{
            width: 20%;
        }
        &:hover .check__button i{
            display: block;
        }
    }
    &__txt{
        padding: 0px 17px 0px 17px;  
        flex-grow: 1;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .menu__title{
            margin: 0px;
            padding-top: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .menu__subtitle{
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price{
        font-weight: 700;
        margin-top: 25px;
        padding-right: 20px;
    }
    .check__button {
        background-color: #99E2D0; 
        width: 0%;
        height: 80px;
        border-radius: 0px 20px 20px 0px;
        position: relative;
        transition: width 0.5s ease;
        i{
            position: absolute;
            color: white;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .entrees {
        opacity:0;
        -moz-animation: anim 1s linear forwards 0.5s;
        -webkit-animation: anim 1s linear forwards 0.5s;
        -o-animation: anim 1s linear forwards 0.5s;
        -ms-animation: anim 1s linear forwards 0.5s;
        animation: anim 1s linear forwards 0.5s;
    }
    .plats {
        opacity:0;
        -moz-animation: anim 1s linear forwards 1.2s;
        -webkit-animation: anim 1s linear forwards 1.2s;
        -o-animation: anim 1s linear forwards 1.2s;
        -ms-animation: anim 1s linear forwards 1.2s;
        animation: anim 1s linear forwards 1.2s;
    }
    .desserts {
        opacity:0;
        -moz-animation: anim 1s linear forwards 1.9s;
        -webkit-animation: anim 1s linear forwards 1.9s;
        -o-animation: anim 1s linear forwards 1.9s;
        -ms-animation: anim 1s linear forwards 1.9s;
        animation: anim 1s linear forwards 1.9s;
    }

@-moz-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
}
@keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
}
    .button{
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
        &__commander{
            color: white;
            background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
            border-radius: 50px;
            padding: 15px 45px;
            width: 25%;
            &:hover {
                filter: brightness(1.2);
                box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.2);
                transition:0.4s ease-in-out;
            }
            &__filtre {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
        }
    }
}


@media (max-width: 349px) {
    .menu__txt h3 {
      font-size: 15px;
    }
  }

@media (max-width: 374px) {
    .menu{
        h1{
            font-size: 23px;
        }
        .card__like2 {
            left: 30px !important;
        }
    }
}

@media (min-width: 550px) {
    .menu{
        &__title__top{
            text-align: center;
        }
    }
}

@media (min-width: 1024px) {
    .menu{
        padding: 2px 120px 40px 120px;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 40px 40px 0px 0px;
        margin-bottom: 0px;
        .button{
            &__commander{
                padding: 15px 15px !important;
                width: 25% !important;
            }
        }
    }
}


/****** Footer ********/
.footer{
    background-color: #353535;
    padding: 15px 20px 15px 30px;
    color: white;
    margin-top: -45px;
    &__title{
        font-family: $font-titre;
        font-size: 18px;
        padding: 11px 0px 18px 0px;
      }    
    ul{
        list-style-type: none;
        margin: 0px;
        margin-bottom: 0px;
        padding: 0px;
        li{
            margin-bottom: 10px;
            a {
            color: white;            
            }
            i{
            padding-right: 10px;
            width: 20px;
            }
        }
    }
}


@media (min-width: 835px) {
    .footer{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer ul {
      display: flex;
      justify-content: flex-end;
      padding-top: 14px;
      padding-right: 10px;
      margin-right: 60px;
    }
    .footer ul li {
      margin-left: 22px;
    }
  }
